/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;400;500;600;700&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-hero {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  }
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.alice-carousel__wrapper {
  overflow-x: clip !important;
  overflow-y: initial !important;
}

.alice-carousel__dots {
  margin-top: 1rem !important;
}

.alice-carousel__dots-item {
  background-color: #f3e6cf !important;
}

.alice-carousel__dots-item:hover {
  background-color: #967943 !important;
  transition: all 0.3s;
}

.alice-carousel__dots-item.__active {
  background-color: #967943 !important;
}