/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@100;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fjalla+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans+Narrow:wght@400;700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background-color: #fefbf3;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.alice-carousel__wrapper {
  overflow-x: clip !important;
  overflow-y: initial !important;
}

.alice-carousel__dots {
  margin-top: 1rem !important;
}

.alice-carousel__dots-item {
  background-color: #f3e6cf !important;
}

.alice-carousel__dots-item:hover {
  background-color: #967943 !important;
  transition: all 0.3s;
}

.alice-carousel__dots-item.__active {
  background-color: #967943 !important;
}

.gallery__woxo-carousel--big>div {
  width: 1000px;
}

.gallery__woxo-carousel--medium>div {
  width: 600px;
}

.gallery__woxo-carousel--small>div {}